* {
  font-family: "Poppins";
}

.back_circle {
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  overflow: hide;
}
form{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.tetris{
  position: relative;
  text-align: center;
  margin-top: 45%;
  margin-bottom: 0;
  color: white;
  font-size: 130px;
}
body.pink .tetris{
  font-family: Tetris;
}
body.blue .tetris {
  font-family: "Bungee";
  -webkit-text-stroke: 1px #555555;
}
h2 {
  position: relative;
  text-align: center;
  text-shadow: white 0px 0px 35px;
  font-size: 64px;
  font-family: "Feature Mono";
}
body.pink h2{
  margin-top: -15px;
  color: #ff40a7;
}
body.blue h2{
  margin-top: -90px;
  color: #ECAA50;
  text-shadow: 0px 0px 5px #555555; 
}
.player {
  position: fixed;
  top: 40px;
  right: 50px;
  font-size: 30px;
  font-family: "BellotaText";
  background: transparent;
  cursor: pointer;
  border: none;
}
body.pink .player{
  color: white;
}
body.blue .player{
  color: #5B3B3B;
}
.back {
  position: fixed;
  top: 30px;
  left: 50px;
  width: 70px;
  height: 70px;
  border: none;
  background: transparent;
  background-size: cover;
  cursor: pointer;
}
body.pink .back{
  background-image: url("../img/back.png");
}
body.blue .back{
  background-image: url("../img/back2.png");
}
@font-face {
  font-family: "Feature Mono";
  src: url("../webfonts/FeatureMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BellotaText";
  src: url("../webfonts/BellotaText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.box_log {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -30px;
  margin-bottom: 10px;
  padding-top: 10px;
  width: 650px;
  height: 520px;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 0px 25px #4d4d4d;
  border-radius: 60px;
}
p {
  position: relative;
  color: white;
  font-size: 30px;
  font-family: "BellotaText";
  margin-right: 38%;
  float: right;
  margin-bottom: -5px;
}

.ball,.time {
  font-family: "BellotaText";
  width: 40%;
  height: 60px;   
  top: 10%;
  position: absolute;
  font-size: 30px;
  border-radius: 66.15px;
  border: 0px;
  cursor: pointer;
}
.ball{
  margin-left: 5%;
}
.time{
  margin-left: 55%;
}
body.pink .ball,body.pink .time{
  background: #ff4dad;
  color: white;
  box-shadow: 0px 0px 15px #ff00f5;
}
body.blue .ball, body.blue .time{
  background: #ECAA50;
  color: #5B3B3B;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}
body.pink .ball:active,.time:active {
  box-shadow: 0px 0px 15px #ff00f5, 0px 0px 15px #ffff inset;
}
body.blue .ball:active,.time:active {
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
body.pink table{
  color: #ffff;
}
body.blue table{
  color: #5B3B3B;
}
td{
  font-size: 30px;
  
  font-family: "BellotaText";
  text-align: center;
  width: 270px;
  height: 40px;
}
th{
  font-size: 30px;
  font-family: "BellotaText";
}
