* {
  font-family: "Poppins";
}

form {
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  background: #811cb1;
  overflow: hide;
}

.tetris {
  position: relative;
  text-align: center;
  margin-top: 44%;
  margin-bottom: 0;
  color: white;
  font-size: 130px;
  font-family: Tetris;
}
h2 {
  position: relative;
  text-align: center;
  margin-top: -15px;
  color: #ff40a7;
  text-shadow: white 0px 0px 30px;
  font-size: 64px;
  font-family: "Feature Mono";
}
@font-face {
  font-family: "Feature Mono";
  src: url("../webfonts/FeatureMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BellotaText";
  src: url("../webfonts/BellotaText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.box_log {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -25px;
  margin-bottom: 10px;
  width: 450px;
  height: 490px;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 0px 25px #4d4d4d;
  border-radius: 60px;
}
p {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10px;
  padding-top: 30px;
  position: relative;
  color: white;
  font-size: 30px;
  font-family: "BellotaText";
}
input {
  font-family: "BellotaText";
  font-size: 25px;
  width: 70%;
  height: 40px;
  margin-left: 15%;
  padding-left: 2%;
  position: relative;
  background: rgba(255, 255, 255, 0.23);
  border: 0px;
  outline: none;
  box-shadow: 3px 3px 10px #4d4d4d;
  border-radius: 13.88px;
  color: white;
}
.pass {
  margin-left: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 0px;
  position: relative;
  color: white;
  font-size: 30px;
  font-family: "BellotaText";
}
button {
  font-family: "BellotaText";
  width: 100%;
  margin-left: 2%;
  height: 52px;   
  top: 0px;
  position: absolute;
  background: #ff4dad;
  font-size: 30px;
  color: white;
  border-radius: 66.15px;
  border: 0px;
  box-shadow: 0px 0px 15px #ff00f5;
  cursor: pointer;
}
button:active {
  box-shadow: 0px 0px 15px #ff00f5, 0px 0px 15px #ffff inset;
}
a {
  font-family: "BellotaText";
  color: white;
  text-align: center;
  width: 70%;
  margin-left: 16%;
  margin-top: 30px;
  position: absolute;
  font-size: 25px;
}
